# start
[submodule "pack/downloads/start/abolish"]
	path = pack/downloads/start/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/downloads/start/apathy"]
	path = pack/downloads/start/apathy
	url = https://github.com/tpope/vim-apathy.git
[submodule "pack/downloads/start/commentary"]
	path = pack/downloads/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/downloads/start/dirvish"]
	path = pack/downloads/start/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/downloads/start/dispatch"]
	path = pack/downloads/start/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/downloads/start/eunuch"]
	path = pack/downloads/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/downloads/start/fugitive"]
	path = pack/downloads/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/downloads/start/git"]
	path = pack/downloads/start/git
	url = https://github.com/tpope/vim-git.git
[submodule "pack/downloads/start/husk"]
	path = pack/downloads/start/husk
	url = https://github.com/vim-utils/vim-husk.git
[submodule "pack/downloads/start/projectionist"]
	path = pack/downloads/start/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "pack/downloads/start/quick-scope"]
	path = pack/downloads/start/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule "pack/downloads/start/repeat"]
	path = pack/downloads/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/downloads/start/rhubarb"]
	path = pack/downloads/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/downloads/start/sleuth"]
	path = pack/downloads/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "pack/downloads/start/sneak"]
	path = pack/downloads/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/downloads/start/speeddating"]
	path = pack/downloads/start/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "pack/downloads/start/subversive"]
	path = pack/downloads/start/subversive
	url = https://github.com/svermeulen/vim-subversive.git
[submodule "pack/downloads/start/surround"]
	path = pack/downloads/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/downloads/start/targets"]
	path = pack/downloads/start/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "pack/downloads/start/test"]
	path = pack/downloads/start/test
	url = https://github.com/vim-test/vim-test.git
[submodule "pack/downloads/start/unimpaired"]
	path = pack/downloads/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git

# opt
[submodule "pack/downloads/opt/copilot"]
	path = pack/downloads/opt/copilot
	url = https://github.com/github/copilot.vim.git
[submodule "pack/downloads/opt/lsp"]
	path = pack/downloads/opt/lsp
	url = https://github.com/yegappan/lsp.git
[submodule "pack/downloads/opt/markdown-preview"]
	path = pack/downloads/opt/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "pack/downloads/opt/startuptime"]
	path = pack/downloads/opt/startuptime
	url = https://github.com/dstein64/vim-startuptime.git
